<!DOCTYPE html>
<html lang='{{ .Site.Language }}'>
<head>
  {{ partial "base/head" . }}
</head>
<body>
  <a href="#main" id='skip-to-content'>Skip to content</a>
  <div id="container">
    {{ partial "base/header" . }}
    <main id='main'>
      {{ block "main" . }}{{ end }}
    </main>
    <footer id="footer">
      <div class="waves"></div>
      <div class="footer-content">
        <div class="spacer"> </div>
        <p>&copy; Christiaan Bloo {{ now.Year }} </p>
        <div class="theme-container">
          {{ partial "base/theme" . }}
        </div>
      </div>
    </footer>
  </div>
</body>
</html>
