<!DOCTYPE html>
<html lang='{{ .Site.Language }}'>
<head>
  {{ partial "base/head" . }}
</head>
<body>
  <a href="#main" id='skip-to-content'>Skip to content</a>
  {{ partial "base/header" . }}
  <main id='main'>
    {{ block "main" . }}{{ end }}
  </main>
  <div class="footerholder">
    <div class="box"></div>
    <footer id='footer' class='lg'>
      <iframe style="border-radius:1rem" src="https://open.spotify.com/embed/album/2KSQoUYNVFsXHsv4Mrt1KQ?utm_source=generator" width="100%" height="100" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      <p>&copy; Christiaan Bloo {{ now.Year }}</p>
    </footer>
  </div>
</body>
</html>
