:root {
  /* Font sizes: https://type-scale.com/, Perfect Fourth */
  --f1: 2.369rem;
  --f2: 1.777rem;
  --f3: 1.333rem;
  --f4: 1rem;
  --f5: 0.833rem;

  /* Colors */
  --c-h: 230;
  --c-s: 49%;
  --c-l: 72%;
  --c: hsl(var(--c-h), var(--c-s), var(--c-l));
  --c-text: #f4f4f4;
  --bg-l: 99%;
  --bg: hsl(var(--c-h), var(--c-s), var(--bg-l));
  --fg-l: 94%;
  --fg: hsl(var(--c-h), var(--c-s), var(--fg-l));
  --mg-l: 97%;
  --mg: hsl(var(--c-h), var(--c-s), var(--mg-l));

  /* Blacks to whites */
  --dark-gray: #333333;
  --light-gray: #666666;

  /* Spacings */
  --ls: 2.5rem;
  --hls: 1.25rem;
  --ms: 1rem;
  --hms: 0.5rem;

  /* Others */
  --max-width: 50rem;
  --border: 1px;
  --radius: 0.4rem;
}

* {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
  height: 100%;
}

body {
  color: var(--dark-gray);
  background-color: var(--c);
  background-attachment: fixed;
  line-height: 1.25;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: -apple-system,
    BlinkMacSystemFont,
    avenir next,
    avenir,
    helvetica,
    helvetica neue,
    ubuntu,
    roboto,
    noto,
    segoe ui,
    arial,
    sans-serif;
  padding: 0.5rem;
}

code, kbd, samp, pre {
  font-family: Consolas, monaco, monospace;
}

svg,
video,
img {
  max-width: 100%;
}

img.vinyl_icon {
  border-radius: 0.25rem;
  width: 1rem
}

img.vinyl_icon:hover {
  transform: scale(var(--ggs,1));
  width: 1rem;
  height: 1rem;
  border: 3px solid transparent;
  box-shadow: 0 0 0 6px,inset 0 0 0 2px;
  border-radius: 50%
}

figure {
  margin: var(--ms) 0;
}

audio,
video,
figure img {
  width: 100%;
  display: block;
}

video {
  border-radius: 1rem;
}

.footnotes::before,
h1, h2, h3, h4, h5 {
  font-weight: bold;
  line-height: 1.3;
  margin: 1.2em 0 0.6em 0;
}

h1 {
  font-size: var(--f1)
}

h2 {
  font-size: var(--f2);
}

h3 {
  font-size: var(--f3);
}

h4 {
  font-size: var(--f4);
  text-transform: uppercase;
}

code,
.small,
small {
  font-size: var(--f5);
}

a {
  color: inherit;
  text-decoration: underline;
  word-wrap: break-word;
  overflow-wrap: anywhere;
  cursor: pointer;
}

li {
  margin: 0.25em 0;
}

::marker {
  color: var(--c)
}

.nl,
.nl:active,
.nl:visited {
  text-decoration: none;
  color: inherit;
}

.lh:hover {
  text-decoration: underline;
}

.lg {
  color: var(--light-gray);
}

input,
select,
textarea {
  padding: .5rem;
  border: 1px solid var(--fg);
  outline: 0;
  min-width: 0;
  border-radius: var(--radius);
  background: var(--bg);
  color: var(--dark-gray);
}

input:focus,
select:focus,
textarea:focus {
  border-color: var(--c);
}

input:disabled,
select:disabled,
textarea:disabled {
  background-color: var(--mg);
  cursor: not-allowed;
}

textarea {
  resize: vertical;
}

button {
  background-color: var(--c);
  border: var(--border) solid var(--c);
  font-weight: 700;
  padding: var(--hms);
  color: var(--c-text);
  cursor: pointer;
  border-radius: var(--radius);
  outline: 0;
}

button:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2));
}

.pixelated {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

hr {
  border: 0;
  border-top: 1px solid var(--fg);
  margin: 1.2em auto;
}

ul,
ol {
  padding-left: 2em;
}

figcaption {
  text-align: center;
  font-size: var(--f5);
  color: var(--dark-gray);
  margin: 0.25rem 0;
}

main header {
  margin-bottom: var(--hls);
}

main header h1,
main header h2 {
  margin: 0;
}

main header p {
  font-size: var(--f3);
  color: var(--light-gray);
  font-weight: 500;
  margin-top: -0.25rem;
  font-style: italic;
}

main ol,
main p,
main figcaption,
main ul {
  line-height: 1.5;
}

table {
  width: 100%;
  margin: 1rem 0;
  overflow: auto;
  border-collapse: collapse;
}

table th {
  font-weight: bold;
}

table th,
table td {
  padding: var(--hms);
  border: var(--border) solid var(--fg);
}

table tr {
  border-top: var(--border) solid var(--fg);
}

table tr:nth-child(2n) {
  background-color: var(--mg);
}

table img {
  background-color: transparent;
}

blockquote:not(.tiktok-embed) {
  padding-left: 0.75rem;
  margin: 1em 0 1rem 1rem;
  border-left: 0.2rem solid var(--fg);
}

details summary {
  cursor: pointer;
}

#container {
  background-color: var(--bg);
  border-radius: 0.5rem;
  padding: var(--ls) var(--ms) var(--ms);
  min-height: 100%;
}

#header,
#main,
#footer > div {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}

#header,
#header #home {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header p {
  margin: 0;
}

#header .avatar {
  width: 5rem;
  margin-right: var(--ms);
}

#header .avatar img {
  display: block;
  border-radius: 50%;
}

#header .name {
  font-weight: bold;
  font-size: var(--f2);
}

#header label {
  display: none;
}

#navbar {
  display: flex;
  color: var(--c);
  overflow: hidden;
  text-align: center;
  font-weight: bold;
  margin: var(--ms) 0;
}

#navbar a {
  flex-grow: 1;
  display: block;
  padding: var(--hms);
}

#navbar a:hover {
  color: var(--dark-gray);
}

#navbar a[aria-current="page"] {
  text-decoration: underline wavy;
  text-decoration-skip-ink: none;
  text-underline-offset: 3px;
}

#main {
  margin-top: var(--ms);
  margin-bottom: 5rem;
  cursor: crosshair;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
  padding: 1rem;
}

#footer {
  background:  var(--c);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: var(--f5);
}

#footer p {
  margin: 0.5rem 0;
  color: white;
  display: block;
}

#footer .waves {
  --size:0.6rem;
  --R: calc(var(--size)*1.28);

  -webkit-mask:
    radial-gradient(var(--R) at 50% calc(1.8*var(--size)),#000 99%,#0000 101%) calc(50% - 2*var(--size)) 0/calc(4*var(--size)) 100%,
    radial-gradient(var(--R) at 50% calc(-.8*var(--size)),#0000 99%,#000 101%) 50% var(--size)/calc(4*var(--size)) 100% repeat-x;
  background: var(--c);
  height: 1rem;
  position: absolute;
  left: 0;
  top: -1rem;
  max-width: 100%;
  width: 100%;
}

#skip-to-content {
  position: absolute;
  top: -20em;
}

#skip-to-content:hover,
#skip-to-content:focus {
  left: 0;
  right: 0;
  top: 0;
  margin-inline: auto;
  width: max-content;
  background: var(--fg);
  color: var(--c);
  padding: var(--hms);
  font-weight: bold;
}

.fg {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  margin: 1rem 0;
}

.fg figure {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.fg figure picture {
  flex-grow: 1;
}

.fg figure img {
  object-fit: cover;
  height: 100%;
}

.list-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.list-grid article img {
  display: block;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 0.5rem;
}

.list-grid article div {
  display: block;
  margin-top: var(--hms);
}

.list-grid article h2,
.list-grid article p {
  margin: 0;
  font-size: var(--f4);
}

@media screen and (max-width: 940px) {
  :root {
    --ls: 1rem;
    --hls: 1rem;
  }

  .lh {
    text-decoration: underline;
  }

  #header .avatar {
    max-width: 4rem;
    margin-right: var(--hms);
  }

  #header .name {
    font-size: var(--f3);
  }

  #header p {
    font-size: var(--f4);
  }

  .fg {
    grid-gap: 0.5rem;
  }

  #header {
    display: block;
  }

  #header #home {
    justify-content: flex-start;
  }

  #navbar a {
    flex-grow: 0;
  }
}

@media print {
  html,
  body {
    background: white !important;
    font-size: 11pt;
    border: 0;
  }

  .container {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }

  #header,
  #navbar,
  #footer {
    display: none;
  }

  a:hover {
    background: none;
  }
}
