<div id='header'>
  <div id='home'>
    <a class='avatar nl' href='{{ relURL "/" }}'>
      <picture>
        {{ $profile := resources.Get "img/profile.jpeg" }}
        <source type='image/webp' srcset='{{ ($profile.Resize "300x webp").RelPermalink }}'>
        <img alt='Avatar' src='{{ ($profile.Resize "300x jpeg").RelPermalink }}' width="100px">
      </picture>
    </a>

    <div>
      <p class='name'><a class='nl' href='{{ relURL "/" }}'>Christiaan Bloo</a></p>
      <p class='lg'>Designer, musician, composer.</p>
    </div>
  </div>
  <body>
    <button class="theme-toggle" id="themeToggle">🌞</button>
    <input type="number" id="hueInput" min="0" max="360" step="5" value="200">
    
  
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const themeToggleButton = document.getElementById('themeToggle');
        const currentTheme = localStorage.getItem('theme') || 'light';
        const currentHue = localStorage.getItem('hue') || 214;
      
        // Apply the initial theme and set button text
        if (currentTheme === 'dark') {
          document.body.classList.add('dark-mode');
          themeToggleButton.textContent = '🌙'; // Moon emoji for dark mode
        } else {
          themeToggleButton.textContent = '🌞'; // Sun emoji for light mode
        }
      
        // Toggle theme function
        themeToggleButton.addEventListener('click', () => {
          document.body.classList.toggle('dark-mode');
          const isDarkMode = document.body.classList.contains('dark-mode');
          
          if (isDarkMode) {
            themeToggleButton.textContent = '🌙'; // Moon emoji for dark mode
            localStorage.setItem('theme', 'dark');
          } else {
            themeToggleButton.textContent = '🌞'; // Sun emoji for light mode
            localStorage.setItem('theme', 'light');
          }
        });
      });
      
      document.getElementById('hueInput').addEventListener('input', function(event) {
      const hueValue = event.target.value;
      if (hueValue >= 0 && hueValue <= 360) {
        document.documentElement.style.setProperty('--c-h', hueValue);
        localStorage.setItem('hueValue', hueValue);
      } else {
        console.warn('Invalid hue value:', hueValue);
      }
    });
    
    document.addEventListener('DOMContentLoaded', () => {
      const hueInput = document.getElementById('hueInput');
      // Retrieve the stored hue value from localStorage
      const storedHue = localStorage.getItem('hueValue');
      if (storedHue) {
        document.documentElement.style.setProperty('--c-h', storedHue);
        hueInput.value = storedHue;
      } else {
        // Default hue value if not previously set
        const defaultHue = 200;
        document.documentElement.style.setProperty('--c-h', defaultHue);
        hueInput.value = defaultHue;
        localStorage.setItem('hueValue', defaultHue);
      }
    });
  
    
    </script>
  </body>
  

  <nav id='navbar'>
    {{ range .Site.Menus.main -}}
      <a href='{{ .Page.RelPermalink }}' class='nl'{{ if $.IsMenuCurrent .Menu . }} aria-current='page'{{ end }}>{{ .Name }}</a>
    {{ end }}
  </nav>
</div>
