<p>I have been to {{ len .Site.Data.concerts }} concerts in total</p>
<h2>Concerts I've Been To</h2>
{{ $concerts := site.Data.concerts }}
<div class="concert-overview">
    {{ range $concerts }}
        <article>
            <strong>{{ .artist }}</strong> {{ .Title }} {{ with .tour }}<span style="font-style: italic;font-weight: normal;">({{ . }})</span>{{ end }}<br>
            <ul>
              <!-- <li> -->
                <em>{{ .date }} at {{ .venue }}</em><br>
                <em>{{ with .opening_act }}<span style="font-style: italic;font-weight: normal;"> Support: {{ . }}</span>{{ end }}</em>
              <!-- </li> -->
            </ul>
        </article>
        <br>
    {{ end }}
</div>