<p>I have {{ len .Site.Data.vinyls }} Vinyls in total. Here is a grid view of all the vinyls in my collection</p>


<div class="vinyl-grid">
    {{ $vinyls := sort .Site.Data.vinyls "year" "desc"}}
    {{ $vinyls = sort $vinyls "sort_id" }}
    {{ range $vinyls := $vinyls }}
    <article>
          <img src={{.cover}} class="rounded-corners" style="border-color: {{.color}};">
          <div>
            <h2>{{ .album }}</h2>
            <p>{{ .artist }} ({{ .year}})</p>
          </div>
      </article>
    {{ end }}
</div>