<p>I have {{ len .Site.Data.vinyls }} Vinyls in total. Here is a grid view of all the vinyls in my collection</p>

<div class="vinyl-grid source">
    {{ $vinyls := sort .Site.Data.vinyls "year" "desc"}}
    {{ $vinyls = sort $vinyls "sort_id" }}
    {{ range $vinyl := $vinyls }}
    <article>
          {{ $img := resources.Get (printf "album_covers/%s" .cover) }}
          {{ with $img }}<img src={{$img.RelPermalink}} class="rounded-corners" style="border-color: {{$vinyl.color}};">{{ end }} 
          <div>
            <h2>{{ .album }}</h2>
            <p>{{ .artist }} ({{ .year}})</p>
          </div>
      </article>
    {{ end }}
</div>