
<div class=vinyl-list>
    {{ $vinylsAndArtist := partial "funcs/grouped-vinyls-by-artist-wishlist" . }}
    {{ range $artist := $vinylsAndArtist.artists }}
    <article>
        <b>{{ $artist.name }}</b>
        {{ $vinyls := index $vinylsAndArtist.map $artist.name }}
        <ul>
            {{ range $vinyls }}
            {{ $img := resources.Get (printf "album_covers/%s" .cover) }}
            <li>{{ with $img }}<img src="{{ .RelPermalink }}" class="vinyl_icon">{{ end }} {{ .album }}</li>
            {{ end }}
        </ul>
    </article>
    {{ end }}
</div>
