<p>I have {{ len .Site.Data.vinyls }} Vinyls in total. Here is a list view of all the vinyls in my collection</p>

<div class=vinyl-list>
    {{ $vinylsAndArtist := partial "funcs/grouped-vinyls-by-artist" . }}
    {{ range $artist := $vinylsAndArtist.artists }}
    <article>
        <b>{{ $artist }}</b>
        {{ $vinyls := index $vinylsAndArtist.map $artist }}
        <ul>
            {{ range $vinyls }}
            {{ $img := resources.Get (printf "album_covers/%s" .cover) }}
            <li>{{ with $img }}<img src="{{ $img.RelPermalink }}" class="vinyl_icon"> {{ end }} {{ .album }}</li>
            {{ end }}
        </ul>
    </article>
    {{ end }}
</div>
